/* some of this we might want calculated */
.submitButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.submitButton:active {
	position:relative;
	top:1px;
}

.codeLink {
	font-family:arial;
	background-color:#ededed;
	border-radius:6px;
}

.keepcentered {
    position:    absolute;
    left:        50%;        /* Start with top left in the center */
    top:         50%;
    /*width:       200px;*/      /* The fixed width... */
    /*height:      100px;*/      /* ...and height */
    margin-left: -100px;     /* Shift over half the width */
    margin-top:  -50px;      /* Shift up half the height */
    /*border: 1px solid black;*/ /* Just for demo */
}

.container {
	position: relative;
	/*left:50%;
	right:50%;*/
	/*
	left : 50%;
	align: center; */
	/*
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	left : 50%;
	margin-left: -200px;*/
	/*
	width: 50%;
	border: 1px solid gray;
	margin: 0 auto;
	*/
	/*
	left : 50%;
	top: 50%;
	*/
}

body {
	background: url('photo.jpg') no-repeat;
	background-size: 100%;
    margin:none;
    padding:none;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -99999;
    -webkit-background-size: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.body {
	
	position: absolute; 
	overflow: hidden;

}

.textarea-container {
	left: 0px; 
	position: absolute;
	
);
}

.codemirrorsize {
	width:       800px;     /* The fixed width... */
    height:      400px;      /* ...and height */
}

.textarea {
	/* color: blue; */
	color: transparent; 
	background-color: transparent; 
	
	font-family: monospace;
	font-size: 15px;
	line-height: 1.2;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
	resize: none;
	white-space: pre;
	word-wrap: normal;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}

.scroll-y-container {
	position: absolute; 
	top:0px; 
	left: 0px; 
	z-index:-1; 
}

.scroll-x-container {
	position: absolute; 
	top:0px; 
	left: 0px; 
	z-index:-1; 
	
	font-family: monospace; 
	font-size: 15px;
	line-height: 1.2;
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: scroll;

	resize: none;
	white-space: pre;
	word-wrap: normal;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}

.view {
      /* background-color: rgb(5, 0, 0) ; opacity: 0.5;  */
}

.viewbackground {
    /* background-color: rgb(26, 0, 153) ; opacity: 0.8;  */
    background-color: rgb(255, 255, 255) ; opacity: 0.8; 
    z-index:-1;
    position:absolute;
	width:       800px;     /* The fixed width... */
    height:      400px;      /* ...and height */

}

.console {
    background-color: rgb(26, 0, 153) ; 
    opacity: 0.8;
    color: AliceBlue;
    overflow : auto;
    height: 250;
}

